{
    "sourceMaps": false,
    "sourceRoot": "./src",
    "code": true,
    "presets": ["node6"],
    "plugins": [
    ],
    "env": {
        "development": {
        },
        "production": {
        }
    }
}